@font-face {
  font-family: 'Somar';
  src: url('/src/assets/fonts/SomarSans/SomarSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tajawal';
  src: url('/src/assets/fonts/Tajawal/Tajawal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
